$primary-color: #1b1818;
$secondary-color: #311c1c;
$background-color: #161a14;

$bar-height: 10vh;
$default-margin: 20px;

$layout_bp_mobile: 480px;
$layout_bp_tablet: 768px;
$layout_bp_desktop: 1280px;
