@import '../../../mixins';
@import '../../../variables';
.home{
    @include flex-center;
    flex-direction: column;

    &__section{
        display: flex;
        flex-direction: row;
    }

    &__form{
        background-color: #613737;
        height: 300px;
        color: white;
        
    }
    &__fieldset{
        border: 0px;
        font-size: 15px;
        @include tablet{
          font-size: 16px;
        }
    }
    &__img-container{
        position: relative;
    }
    &__img{
        height: 300px;
    }
    &__title{
        position: absolute;
        top: 15px;
        left: 40px;
        color: brown;
        font-size: 20px;
        font-weight: 900;
    }
    &__form-container{
        position: relative;
        width: 200px;
        padding: 20px;
        @include tablet{
          width: 300px;
        }
    }
    &__input{
        width: 155px;
        @include tablet{
          width: 255px;
        }
    }
    &__btn{
        position: absolute;
        left: 32px;
        top: 185px;
        @include tablet{
            top: 195px;
            left: 34px;
        }
    }
    &__leaderboard{
        background-color: #613737;
        width: 440px;
        color: white;
        padding: 0;
        @include tablet{
            width: 540px;
        }
    }
    &__leaderboard-list{
        margin-left: 20px;
        padding: 0;
    }
    &__leaderboard-title{
        text-align: center;
        font-weight: 900;
        margin-bottom: 30px;
    }
    &__leaderboard-item{
        margin-left: 20px;
    }
}