@import '../../../variables';

.header-container{
    background-color: $secondary-color;
    height: $bar-height;
    margin-bottom: $default-margin;

    display: flex;
    align-items: center;
    justify-content: flex-end;
    &__btn{
        height: 40px;
        width: 40px;
        margin-right: $default-margin;
        background-color: #958989;
        position: relative;
    }
    &__btn-img{
        height: 30px;
        width: 30px;
        position: absolute;
        top: 3.5px;
        left: 3px;
    }
}